@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: "Open Sans Bold";
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p, span, a {
  font-family: "Open Sans";
  letter-spacing: 0.05em;
}

img {
  display: block;
}

.container {
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0a0e34;
  position: relative;
}

.header::before {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-svg {
  fill: #ffffff;
}

.slogan {
  color: #ffffff;
}

.slogan-first-row, .slogan-second-row {
  font-family: inherit;
}

.download-buttons {
  display: flex;
  align-items: center;
}

.download-button {
  display: flex;
  justify-content: center;
  background-color: #5e42b0;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.button-content {
  display: flex;
  align-items: center;
}

.button-icon {
  fill: #ffffff;
}

.button-text {
  text-align: left;
}

.button-text-store {
  display: block;
  font-family: "Open Sans Bold";
}

.article-header {
  position: relative;
}

.main-article-title {
  color: #e7e7e7;
}

.first-image-wrapper, .second-image-wrapper {
  position: absolute;
}

.light-violet-block {
  background-color: #f5f4f9;
}

.violet-block {
  background-color: #5e42b0;
  color: #fff;
}

.blue-block {
  background-color: #090c35;
  color: #fff;
}

.underlined-number, .underlined-number-violet {
  font-family: "Open Sans Bold";
  color: #000;
  margin-right: 5px;
}

.underlined-number-blue {
  font-family: "Open Sans Bold";
  color: #8765dd;
  margin-right: 5px;
}

.underlined-number::after {
  content: "";
  background-color: #5e42b0;
  display: block;
  border-radius: 2px;
  height: 4px;
}

.underlined-number-violet::after, .underlined-number-blue::after {
  content: "";
  background-color: #fff;
  display: block;
  border-radius: 2px;
  height: 4px;
}

.subtitle {
  display: flex;
  align-items: center;
  color: #c1c1c1;
  margin-bottom: 17px;
}

.aside-article-image-wrapper {
  position: relative;
}

.aside-article-image {
  width: 100%;
}

.aside-article-number {
  background-color: #5e42b0;
  color: #ffffff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside-article-underlined-number {
  font-family: "Open Sans Bold";
  color: #fff;
  margin-right: 5px;
}

.aside-article-underlined-number::after {
  content: "";
  background-color: #8f7bc8;
  display: block;
  border-radius: 2px;
  height: 4px;
}

.aside-article-title {
  color: #e7e7e7;
}

.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a0e34;
  position: relative;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.footer-container {
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}

.footer-logo-slogan {
  display: flex;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: linear-gradient(#7554d5, #51389c);
  border-radius: 25%;
}

.footer-slogan-call-to-action {
  color: #fff;
  text-align: center;
}

.footer-slogan {
  color: #9b8ec1;
  text-align: center;
  text-transform: uppercase;
}

.footer-download-buttons {
  display: flex;
}

@media (max-width: 640px) {
  .container {
    justify-content: space-around;
    padding-top: 30px;
  }

  .header {
    background-image: url(../images/football_767.jpg);
  }

  .logo-svg {
    height: 40px;
  }

  .slogan {
    margin-top: 120px;
    font-size: 28px;
  }

  .slogan-first-row {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .slogan-second-row {
    margin-left: 67px;
    margin-bottom: 80px;
  }

  .download-buttons {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .download-button {
    height: 10.9375vw;
    width: 87.5%;
    border-radius: 5.3125vw;
    font-size: 2.5vw;
  }

  .button-content {
    width: 39.375vw;
  }

  .button-icon {
    height: 24px;
    margin-right: 5px;
  }

  .main-article-title {
    font-size: 50px;
    height: 300px;
    padding: 0 20px;
  }

  .first-image-wrapper, .second-image-wrapper {
    top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .after-footballer {
    margin-top: 20px;
  }

  .athlets-inner-text-list, .players-inner-text-list {
    padding: 54px 20px;
  }

  .light-grey-block {
    background-color: #fafafa;
  }

  .underlined-number, .underlined-number-violet, .underlined-number-blue {
    font-size: 14px;
  }

  .underlined-number::after, .underlined-number-violet::after, .underlined-number-blue::after {
    width: 17px;
  }

  .subtitle {
    font-size: 23px;
  }

  .inner-text {
    font-size: 15px;
    line-height: 18px;
  }

  .aside-article-number {
    height: 70px;
    width: 70px;
    left: 20px;
    bottom: -5px;
  }

  .aside-article-underlined-number {
    font-size: 14px;
  }

  .aside-article-underlined-number::after {
    width: 17px;
  }

  .aside-article-text-wrapper {
    padding: 35px 20px 80px 20px;
  }

  .aside-article-title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 10px;
  }

  .aside-article-text {
    font-size: 16px;
  }

  .footer {
    background-image: url(../images/game_767.jpg);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 15px;
  }

  .footer-logo-slogan {
    flex-direction: column;
  }

  .footer-logo {
    width: 71px;
    height: 74px;
    margin-bottom: 60px;
  }

  .footer-slogan-call-to-action {
    font-size: 32px;
  }

  .footer-slogan {
    font-size: 14px;
    margin-bottom: 77px;
  }

  .footer-download-buttons {
    flex-direction: column;
    align-items: center;
  }

  .footer-download-buttons {
    margin-bottom: 60px;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .container {

    justify-content: space-between;
    padding-top: 38px;

  }

  .header {
    background-image: url(../images/football_1280.jpg);
  }

  .logo-svg {
    height: 60px;
  }

  .slogan {
    font-size: 8.333333vw;
    margin-top: 180px;
  }

  .slogan-first-row {
    margin-left: 90px;
    margin-bottom: 20px;
  }

  .slogan-second-row {
    margin-left: 196px;
    margin-bottom: 300px;
  }

  .download-buttons {
    justify-content: space-evenly;
    margin-bottom: 85px;
  }

  .download-button {
    height: 78px;
    width: 40%;
    border-radius: 36px;
    font-size: 14px;
  }

  .button-content {
    margin-left: auto;
    margin-right: auto;
  }

  .button-icon {
    height: 40px;
    margin-right: 15px;
  }

  .article-header {
    display: flex;
    padding-top: 90px;
  }

  .athlets {
    padding-left: 290px;
  }

  .players {
    padding-left: 30px;
  }

  .main-article-title {
    font-size: 80px;
  }

  .first-image-wrapper {
    align-self: center;
    top: 140px;
    left: -160px;
  }

  .second-image-wrapper {
    align-self: center;
    top: 70px;
    right: 0;
  }

  .athlets-inner-text-list {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 290px;
    padding-right: 30px;
  }

  .players-inner-text-list {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 30px;
    padding-right: 300px;
  }

  .light-grey-block {
    background-color: #fff;
  }

  .underlined-number, .underlined-number-violet, .underlined-number-blue {
    font-size: 18px;
  }

  .underlined-number::after, .underlined-number-violet::after, .underlined-number-blue::after {
    width: 22px;
  }

  .subtitle {
    font-size: 32px;
  }

  .inner-text {
    font-size: 16px;
    line-height: 28px;
  }

  .aside-article-number {
    height: 115px;
    width: 115px;
    left: 30px;
    bottom: -30px;
  }

  .aside-article-underlined-number {
    font-size: 24px;
  }

  .aside-article-underlined-number::after {
    width: 30px;
  }

  .aside-article-text-wrapper {
    padding: 80px 30px 105px 30px;
  }

  .aside-article-title {
    font-size: 10.41666667vw;
    line-height: 60px;
    margin-bottom: 30px;
  }

  .aside-article-text {
    font-size: 3.125vw;
    line-height: 28px;
  }

  .footer {
    background-image: url(../images/game_1280.jpg);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    padding-bottom: 15px;
  }

  .footer-logo-slogan {
    flex-direction: column;
  }

  .footer-logo {
    width: 130px;
    height: 135px;
    margin-bottom: 80px;
  }

  .footer-slogan-call-to-action {
    font-size: 10.41666667vw;
    line-height: 7.8125vw;
  }

  .footer-slogan {
    font-size: 4.6875vw;
    line-height: 60px;
  }

  .footer-download-buttons {
    align-items: center;
    justify-content: space-evenly;
    margin-top: 285px;
    margin-bottom: 55px;
  }
}

@media (min-width: 961px) {
  .container {
    justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 110px;
  }

  .header {
    background-image: url(../images/football_1920.jpg);
  }

  .logo-svg {
    height: 55px;
  }

  .slogan {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 90px;
    margin-top: 14vw;
  }

  .slogan-first-row {
    margin-bottom: 20px;
  }

  .slogan-second-row {
    text-align: right;
    margin-bottom: 11vw;
  }

  .download-buttons {
    justify-content: center;
  }

  .download-button {
    height: 86px;
    width: 311px;
    border-radius: 43px;
    font-size: 14px;
  }

  .download-button:first-child {
    margin-right: 50px;
  }

  .button-content {
    margin-left: auto;
    margin-right: auto;
  }

  .button-icon {
    height: 50px;
    margin-right: 15px;
  }

  .article-header {
    padding-top: 115px;
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
  }

  .athlets-title {
    padding-left: 50%;
  }

  .players-title {
    padding-left: 15px;
  }

  .first-image-wrapper {
    max-width: 780px;
    top: 5%;
    left: 5%;
  }

  .second-image-wrapper {
    max-width: 120%;
    top: 5%;
    left: 31%;
  }

  .article-image {
    max-width: 100%;
  }

  .athlets-inner-text-list {
    padding-top: 85px;
    padding-bottom: 65px;
    padding-left: 50%;
  }

  .players-inner-text-list {
    padding-top: 60px;
    padding-bottom: 35px;
  }

  .light-grey-block {
    background-color: #fff;
    padding-bottom: 60px;
  }

  .light-violet-block {
    padding-bottom: 60px;
  }

  .blue-block {
    padding-bottom: 60px;
  }

  .underlined-number, .underlined-number-violet, .underlined-number-blue {
    font-size: 18px;
  }

  .underlined-number::after, .underlined-number-violet::after, .underlined-number-blue::after {
    width: 22px;
  }

  .inner-text-container {
    box-sizing: border-box;
    max-width: 780px;
  }

  .players-inner-text-container {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50.73vw;
    padding-left: 15px;
  }

  .aside-article {
    display: flex;
    align-items: center;
  }

  .aside-article:nth-child(even) {
    justify-content: flex-end;
  }

  .aside-article-image-wrapper {
    width: 50%;
  }

  .aside-even-image {
    order: 1;
  }

  .aside-article-number {
    height: 8.07vw;
    width: 8.69vw;
    top: 11.04vw;
    position: absolute;
  }

  .aside-article-underlined-number {
    font-size: 24px;
  }

  .aside-article-underlined-number::after {
    width: 30px;
  }

  .aside-article-number-odd {
    right: -4.16666667vw;
  }

  .aside-article-number-even {
    left: -4.16666667vw;
  }

  .aside-article-text-wrapper {
    max-width: 780px;
    width: 50vw;
    box-sizing: border-box;
  }

  .aside-article-text-wrapper-odd {
    padding-left: 6.72vw;
  }

  .aside-article-text-wrapper-even {
    padding-right: 6.72vw;
  }

  .aside-article-title {
    line-height: 4.6875vw;
    margin-bottom: 6.51vw;
  }

  .aside-article-title-even {
    padding-left: 15px;
  }

  .first-aside-article-title {
    padding-top: 4.6875vw;
  }

  .aside-article-text-even {
    padding-left: 15px;
  }

  .footer {
    background-image: url(../images/game_1920.jpg);
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 15px;
  }

  .footer-logo-slogan {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    margin-top: 225px;
  }

  .footer-slogan-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-slogan {
    padding-left: 4px;
  }

  .footer-logo {
    width: 6.771vw;
    height: 7.03125vw;
    margin-right: 20px;
  }

  .footer-download-buttons {
    justify-content: center;
    margin-bottom: 260px;
  }
}

@media (min-width: 961px) and (max-width: 1919px) {
  .main-article-title {
    font-size: 4.1666vw;
  }

  .subtitle {
    font-size: 1.875vw;
  }

  .inner-text {
    font-size: 1.04vw;
    line-height: 1.4583333vw;
  }

  .aside-article-title {
    font-size: 4.16666667vw;
    line-height: 4.6875vw;
  }

  .aside-article-text {
    font-size: 1.25vw;
    line-height: 1.4583333vw;
  }

  .footer-slogan-call-to-action {
    font-size: 4.16666667vw;
    line-height: 4.16666667vw;
  }

  .footer-slogan {
    font-size: 1.5625vw;
    line-height: 1.5625vw;
  }

}

@media (min-width: 1920px) {
  .main-article-title {
    font-size: 80px;
  }

  .subtitle {
    font-size: 36px;
  }

  .inner-text {
    font-size: 20px;
    line-height: 28px;
  }

  .players-inner-text-container {
    padding-right: 30vw;
  }

  .aside-article-title {
    font-size: 80px;
    line-height: 60px;
  }

  .aside-article-text {
    font-size: 24px;
    line-height: 28px;
  }

  .footer-slogan-call-to-action {
    font-size: 80px;
  }

  .footer-slogan {
    font-size: 30px;
  }
}
